<%= form_with(model: service) do |form| %>
  <%= form.hidden_field :beneficiary_id %>
  <%= form.hidden_field :supplier_id %>
  <% if service.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
        <% service.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title, class: "d-none" %>
    <%= form.text_field :title, class: "form-control", placeholder: "Título" %>
  </div>

  <div class="form-group">
    <%= form.label :description, class: "d-none" %>
    <%= form.text_area :description, class: "form-control", placeholder: "Descripción" %>
  </div>

  <div class="form-group text-right">
    <%= form.submit "Crear/Actualizar", class: "btn btn-primary" %>
  </div>
<% end %>
