<p style="color: green"><%= notice %></p>

<h1>Services</h1>
<div id="services">
  <% @group_services.each do |five_service| %>
  <h1>group</h1>
    <% five_service.each do |service| %>
      <%= service.description %>
      <%= service.id %>
      <p>
        <%= link_to "Show this service", service %>
      </p>
    <% end %>  
  <% end %>
</div>

<%= link_to "New service", new_service_path %>
