<p style="color: green"><%= notice %></p>
<div class="col-sm-8 mx-auto mt-5">
  <div class="card h-100 mb-5">
    <div class="card-body">
      <h5><%= @service.title %></h5>
     <div><%= @service.description %></div>
      <div><%= @service.id %></div>
      <div class="text-right">
        <%= link_to "Edit", edit_service_path(@service) %>
      </div>
    </div>
  </div>



  <%= form_tag(action: "create", controller: "tasks", html: { method: :post }) do %>
    <%= hidden_field_tag "task[service_id]", @service.id %>
      <div  class="row">
        <div class="col-9">
          <%= text_field_tag "task[time]", "",class: "col", placeholder:"Tiempo estimado (opcional)" %>
        </div>
        <div class="col-3 pl-0">
          <%= submit_tag "Apply", class: "col" %>
        </div>
      </div>
  <% end %>
  <%= render @task %>
</div>
