<p style="color: green"><%= notice %></p>

<%= render @service %>

<div>
  <%= link_to "Edit this service", edit_service_path(@service) %> |
  <%= link_to "Back to services", services_path %> |
  <%= form_tag(action: "create", controller: "tasks", html: { method: :post }) do %>
    <%= hidden_field_tag "task[service_id]", @service.id %>
    <div>
      <%= label_tag "task[time]", "Time" %>
      <%= text_field_tag "task[time]" %>
    </div>

    <div class="actions">
      <%= submit_tag "Apply" %>
    </div>
  <% end %>

  <%= button_to "Destroy this service", @service, method: :delete %>
</div>

<h1>tasks</h1>

<%= render @task %>
