<div id="<%= dom_id ranking %>">
  <p>
    <strong>Supplier:</strong>
    <%= ranking.supplier_id %>
  </p>

  <p>
    <strong>Beneficiary:</strong>
    <%= ranking.beneficiary_id %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= ranking.comment %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= ranking.score %>
  </p>

  <p>
    <strong>Task:</strong>
    <%= ranking.task_id %>
  </p>

</div>
