<div id="<%= dom_id ranking %>">
  <p>
    <strong>Evaluator:</strong>
    <%= ranking.evaluator_id %>
  </p>

  <p>
    <strong>Evaluated:</strong>
    <%= ranking.evaluated_id %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= ranking.comment %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= ranking.score %>
  </p>

  <p>
    <strong>Task:</strong>
    <%= ranking.task_id %>
  </p>

</div>
