<div class="row">
  <div class="col"></div>
  <div class="col-md-4 col-sm-12 my-5">
    <h2>Editar <%= resource_name.to_s.humanize %></h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <div class="form-group">
        <%= f.label :firstname, "Nombre" %>
        <%= f.text_field :firstname, autofocus: true, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :lastname, "Apellido" %>
        <%= f.text_field :lastname, autofocus: true, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :birthday, "Fecha de nacimiento" %>
        <%= f.text_field :birthday, autofocus: true, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :gender, "Género" %>
        <%= f.text_field :gender, autofocus: true, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :email, "Correo electrónico" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password, "Contraseña" %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> caracteres mínimo)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, "Confirmación de Contraseña" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>

      <%= f.submit "Actualizar", class: "btn btn-primary" %>
    <% end %>

    <div class="my-4">
      <h3>Cancelar mi cuenta</h3>

      <div>
        <%= button_to "Cancelar mi cuenta",
          registration_path(resource_name),
          data: { confirm: cancel_account_warning, turbo_confirm: cancel_account_warning },
          method: :delete,
          class: "btn btn-danger" %>
      </div>
    </div>
  </div>
  <div class="col"></div>
</div>
