<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.hidden_field :beneficiary_id, style: "display: block" %>
    <%= form.hidden_field :beneficiary_id %>
  </div>

  <div>
    <%= form.hidden_field :supplier_id, style: "display: block" %>
    <%= form.hidden_field :supplier_id %>
  </div>

  <div>
    <%= form.hidden_field :time, style: "display: block" %>
    <%= form.hidden_field :time %>
  </div>

  <div>
    <%= form.label :state, style: "display: block" %>
    <%= form.text_field :state %>
  </div>

  <div>
    <%= form.label :scheduled_at, style: "display: block" %>
    <%= form.datetime_field :scheduled_at %>
  </div>

  <div>
    <%= form.hidden_field :service_id, style: "display: block" %>
    <%= form.hidden_field :service_id %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
