<div class="card h-100 text-dark <%= task_border_classes(task) %>">
  <%= link_to service_path(task.service), class: "link-card card-body text-decoration-none" do %>
    <div class="col-12">
      <div class="row justify-content-between">
        <h5 class="card-subtitle mb-2 text-muted text-right"><%= task.time %> Horas</h5>
        <h5 class="card-subtitle mb-2 text-muted text-right"><%= task.supplier_id == current_user.id ? "ofrecidas" : "recibidas" %></h5>
      </div>
    </div>
    <div class="col-12">
      <div class="row justify-content-between">
        <div><span class="font-description text-muted"><%= task.description.truncate(80) %></span></div>
      </div>
      <% if [task.supplier_id, task.beneficiary_id].include?(current_user.id) %>
        <div class="row justify-content-between">
          <div><span class="font-description text-muted">Contacto:</span></div>
          <div><span class="font-description text-muted"><%= task.contact(current_user).phone %></span></div>
        </div>
        <div class="row justify-content-between">
          <div><span class="font-description text-muted"></span></div>
          <div><span class="font-description text-muted"><%= task.contact(current_user).email %></span></div>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="card-footer <%= task_footer_bg_color(task) %>">
    <div class="col-12">
      <div class="row justify-content-between">
        <div><span class="font-description ">De:</span></div>
        <div><span class="font-description"><%= task.supplier.full_name %></span></div>
      </div>
      <div class="row justify-content-between">
        <div><span class="font-description">Para:</span></div>
        <div><span class="font-description"><%= task.beneficiary.full_name %></span></div>
      </div>
      <div class="row justify-content-between">
        <div><span class="font-description">Estado:</span></div>
        <div><span class="font-description"><%= task.spanish_state %></span></div>
      </div>
      <div class="row justify-content-between my-1">
        <% if task.ranking.present? %>
          <% task.ranking.score.times do %>
            <span class="fa-solid fa-star my-1 text-warning"></span>
          <% end %>
          <% (5 - task.ranking.score).times do %>
            <span class="fa-regular fa-star my-1 text-warning"></span>
          <% end %>
        <% elsif task.ranking.blank? && task.accept? && task.beneficiary_id == current_user.id %>
          <% 5.times do |index| %>
            <%= form_for(Ranking.new, url: rankings_path, html: { method: :post, class: "form-inline" }) do |f| %>
              <%= f.hidden_field :task_id, value: task.id %>
              <%= f.hidden_field :score, value: index + 1 %>
              <%= button_tag(type: :submit, class: "border border-warning") do %>
                <span class="fa-regular fa-star text-warning"></span>
              <% end %>
            <% end %>
          <% end %>
        <% else %>
          <% if task.supplier_id == current_user.id && task.state == "pending" %>
            <%= form_with(model: task, url: service_task_path(task.service_id, task.id), html: { method: :put }) do |f| %>
              <%= f.hidden_field :state, value: "accepted" %>
              <%= f.submit  "Aceptar", class: "btn btn-outline-success"%>
            <% end %>
          <% else %>
            <% 5.times do %>
              <span class="fas fa-star text-secondary"></span>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
