<div class="card h-100 text-decoration-none text-dark <%= task_border_classes(task) %>">
  <div class="card-body">
    <div class="col-12">
      <div class="row justify-content-between">
        <h5 class="card-subtitle mb-2 text-muted text-right"><%= task.time %> Horas</h5>
        <h5 class="card-subtitle mb-2 text-muted text-right"><%= task.supplier_id == current_user.id ? "ofrecidas" : "recibidas" %></h5>
      </div>
    </div>
    <div class="col-12">
      <div><span class="font-description text-muted"><%= task.description %></span></div>
    </div>
  </div>
  <div class="card-footer">
    <div class="col-12">
      <div class="row justify-content-between">
        <div><span class="font-description text-muted">De:</span></div>
        <div><span class="font-description text-muted"><%= task.supplier.full_name %></span></div>
      </div>
      <div class="row justify-content-between">
        <div><span class="font-description text-muted">Para:</span></div>
        <div><span class="font-description text-muted"><%= task.beneficiary.full_name %></span></div>
      </div>
      <div class="row justify-content-between">
        <div><span class="font-description text-muted">Estado:</span></div>
        <div><span class="font-description text-muted"><%= task.spanish_state %></span></div>
      </div>
    </div>
  </div>
</div>
