<div id="<%= dom_id task %>">
  <p>
    <strong>Beneficiary:</strong>
    <%= task.beneficiary_id %>
  </p>

  <p>
    <strong>Supplier:</strong>
    <%= task.supplier_id %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= task.time %>
  </p>

  <p>
    <strong>State:</strong>
    <%= task.state %>
  </p>

  <p>
    <strong>Scheduled at:</strong>
    <%= task.scheduled_at %>
  </p>

  <p>
    <strong>Service:</strong>
    <%= task.service_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= task.description %>
  </p>

</div>
