<div class="row">
  <div class="col"></div>
  <div class="col-md-5 col-sm-12 my-5">
    <h2>Reenviar instrucciones de desbloqueo</h2>
    <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="form-group">
        <%= f.label :email, "Correo electrónico" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>
      <%= f.submit "Mandarme instrucciones para desbloquear mi cuenta", class: "btn btn-primary text-center" %>
    <% end %>

    <div class="my-2">
      <%= render "devise/shared/links" %>
    </div>
  </div>
  <div class="col"></div>
</div>

