<!DOCTYPE html>
<html>
  <head>
    <title>Timetrade</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  </head>

  <body>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
      <%= link_to "TimeTrade", root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <% if current_user.present? %>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="text-light ml-2 col">Conectado como <strong class="ml-2 mr-2"> <%= current_user.firstname.downcase.capitalize %> </strong> </div>
          <div class="col col-6">
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2 col" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
          <div class="col d-flex justify-content-end align-items-center">
            <ul class="navbar-nav">
            <li class="nav-item">
              <%= link_to "Perfil", users_show_path, class: "navbar-link btn btn-outline-light btn-md border-0" %>
            </li>
            <li class="nav-item">
              <%= link_to "Salir", destroy_user_session_path, method: :delete, class: "navbar-link btn btn-outline-light btn-md border-0" %>
            </li>
          </ul>
          </div>
        </div>
      <% end %>
    </nav>

    <div class="container my-5">
      <% if notice %>
        <div class="alert alert-warning" role="alert"><%= notice %></div>
      <% elsif flash[:success].present? %>
        <div class="alert alert-success"><%= flash[:success] %></div>
      <% elsif flash[:info].present? %>
        <div class="alert alert-info"><%= flash[:info] %></div>
      <% elsif flash[:warning].present? %>
        <div class="alert alert-warning"><%= flash[:warning] %></div>
      <% elsif flash[:error].present? %>
        <div class="alert alert-danger"><%= flash[:error] %></div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
