<!DOCTYPE html>
<html>
  <head>
    <title>Timetrade</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= link_to "Perfil", users_show_path %>
    <%= link_to "Inicio", root_path %>
    <%= link_to "Salir", destroy_user_session_path, method: :delete %>
    <%= yield %>
  </body>
</html>
